.light_version #left-sidebar {
  background: #343a40;
  border: none;
}
.block-header .heading {
  font-size: 26px;
  font-weight: 700;
  padding-left: 10px;
}
.heading_2 {
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}
